{block content}

<div class="returnWrap">
    <a n:href="Action:default"><button class="actionButton">&#8592;</button></a>
</div>

{if $imageSrc !== null}
    <img src="{$imageSrc}" alt="joke">
{else}
    <p>Nelze zobrazit</p>
{/if}

